# Django project
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

/media/
/templates/
/testreports/
staticfiles/
**/temp_images/
*.static
.env
.google_oauth

#The pictures directory needs to be excluded
upload/**